@mixin clearfix {
  &::after {
    //.row::after{}
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ADDING MIXINS FOR RESPONSIVE DESIGNS -- MEDIA QUERIES

// MEDIA QUERY MANAGER
/*
0 - 600px --   Phone
600px - 900px -- Tablet Portrait 
900px - 1200px -- Tablet Landscape 
1200px - 1800px -- Desktop 
1800px + Bigger Desktops
*/

// ORDER FOR DOING THE MEDIA QUERIES : --> Base > Typography > Layout > Grid > Page Layout > Components

@mixin respond-phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

// BREAKPOINT ARGUMENT CHOICES
/*
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
