.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, $alpha: 0.5);
    border: none;

    border-bottom: 3px solid transparent;

    width: 65%;
    display: block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:focus:valid {
      border-bottom: 3px solid $color-primary;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;

    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  //   REMOVING THE INPUTS -- IN ORDER TO HAVE THE CUSTOM ONES ONLY ON THE PAGE
  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    padding: 0 0 0 3rem; //Adding some padding in order to move the text outside of the custom buttons

    // IN ORDER TO POSITION THE CUSTOM BUTTONS THIS ELEMENT NEEDS TO BE POSITIONED RELATIVE
    position: relative;
  }

  //   STYLING THE CUSOM RADIO BUTTON

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;

    // PUTING THE SELECT ELEMENT EXACTLY INSIDE THE CUSTOM RADIO BUTTONS -- WITH ABSOLUTE POSITIONING

    position: absolute;
    top: -0.6rem;
    left: -2.4rem;

    &::after {
      content: "";
      display: block;

      height: 1.3rem;
      width: 1.3rem;

      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      background-color: $color-primary;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
