/**********************
 BASIC TYPOGRAPHY STYLING
**********************/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem; /* padding: 30px; */
}

/**********************
 HEADING PRIMARY
**********************/

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; /*was 60px*/

  // HEADING PRIMARY MAIN
  &--main {
    display: block;
    font-size: 6rem; /*was 60px*/
    font-weight: 400;
    letter-spacing: 3.5rem; /*was 35px*/
    animation-name: moveInLeft;
    animation-duration: 1.4s;
    animation-timing-function: ease-out; /* faster at start, slower at end */
    /* animation-iteration-count: 3; ---------animation will happen three time */
    /* animation-delay: 0.5s; -------------animation will be delayed for 0.5seconds*/

    // MIXIN -- MEDIA QUERY

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
      margin-top: 15rem;
    }
  }

  // HEADING PRIMARY SUB
  &--sub {
    display: block;
    font-size: 2rem; /*was 20px*/
    font-weight: 700;
    letter-spacing: 1.75rem; /*was 17.5px*/
    animation: moveInRight 1.4s ease-out;

    // MIXIN -- MEDIA QUERY

    @include respond(phone) {
      letter-spacing: 0.5rem;
      margin-top: 2.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;

  //  The following code allows you to use a linear gradient on your text

  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  // MIXIN -- MEDIA QUERY
  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  //Gives cool text almost animated effect uppon hover
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
